# Web3 connection
NEXT_PUBLIC_RPC_ENDPOINT="https://mainnet.helius-rpc.com/?api-key=49753b6b-6d25-4d39-8ab0-eb78cf9febdb"
# Creator 
NEXT_PUBLIC_PLATFORM_CREATOR="F5iFyvKbtXhX8BgHyC9tGAfgDKMagVBuygwsSTcUwQAh"
